In [ ]:
## **00.** Import `pandas` and `os` modules. 
import os
import pandas as pd
my_data=pd.read_csv("_data\MovieRatings.csv")
display(my_data)
display(my_data.head(10).loc[my_data['IMDB']>=5])

In [ ]:
#**01.** Using a dictionary create a data frame containing five rows and three columns. Then, using `.drop()` method drop the middle column.
Dict = {'name':['Luka','Nevena','Matija','Filip','Aleksa'],
            'age':[15,22,19,20,21],
            'salary':[1200,1400,1000,150,250]}

my_data = pd.DataFrame(Dict, index=[1,2,3,4,5]) #Please remember, 'index' is part of pd.DataFrame not a dictionary. Dict. must have only 'keys':'values'
display(my_data)

In [ ]:
    #**02.** Using `zip()` function create a data frame containing three rows and five columns. Then, using data frame indexing, extract 2nd, 3rd and 4th column of a middle row. 
name = ['Luka', 'Nevena', 'Matija']
age = [15, 22, 19]
salary = [1200, 1400, 1000]
height = [180, 190, 205]
hair = ['Brown', 'White', 'Orange']

my_dict = pd.DataFrame(list(zip(name, age, salary, height, hair)),
                       columns=['name', 'age', 'salary', 'height', 'hair'],
                       index=['Row1', 'Row2', 'Row3'])
display(my_dict)

display(my_dict.loc['Row2'][1:4])
display(my_dict.loc['Row2',['age','salary','height']])
display(my_dict.iloc[1][1:4])

In [ ]:
#**03.** Load `MovieRatings.csv` dataset and save it as a `data_set` variable.

data_set = pd.read_csv('_data\MovieRatings.csv')
display(data_set)

#**04.** From `data_set` create a data frame showing movies with their IMDB and Rotten Tomatoes rating.

data_set = pd.DataFrame(data_set)
display(data_set.loc[:,['IMDB','RottenTomatoes']])

#**05.** `.max()` is a method that you can use to find a maximal value for a given column. 
# For example, `data_set['Metacritic'].max()` will give you the highest Metacritic movie rating. Using similar appropriate methods find:
#    1)- The lowest IMDB rating
#    2)- Average Rotten Tomatoes rating
#    3)- Median Fandango stars rating


data_set['IMDB'].max() #maximal value in the IMDB column 

#1)
data_set['IMDB'].min() #lowestimated in the column

#2)
data_set['RottenTomatoes'].mean() #average

#3)
data_set['Fandango_Stars'].median()

In [ ]:
# **06.** Plot a histogram of IMDB ratings.

#Could be done like this, with matplotlib library but also as just calling .hist() method, see below:

import matplotlib.pyplot as plt
display(data_set)
plt.hist(data_set['IMDB'], bins=10, color='red', edgecolor='black')
plt.title('Histogram of IMDB ratings')
plt.xlabel('IMDB rating')
plt.ylabel('Number of movies')
plt.show()

In [ ]:
#data_set['IMDB'].hist()
#**07.** Use `.value_counts()` method on `'Fandango_Stars'` column, and see what happens:)
data_set['Fandango_Stars'].value_counts()

#It is counting how many times values shows in my data set. Cool

In [ ]:
#**08.** Use `normalize=True` argument in the `.value_counts()` method on `'Fandango_Stars` column to obtain ratios of the previous result. Then plot the new result as a pie chart.
new_res = data_set['Fandango_Stars'].value_counts(normalize=True)
new_res.plot.pie();

In [ ]:
#**09.** Using an appropriate method sort all the movies according to their IMDB ratings. Then, using a proper argument sort them in descending order. 
data_set = data_set[sorted(data_set.columns)] # This could be done on columns
display(data_set.sort_values(by= 'IMDB', ascending=True))

In [54]:

# **10.** Select all movies with Rotten Tomatoes rating of 100.
data_set[data_set['RottenTomatoes'] == 100]

# **11.** Select all movies with Metacritic score lower than 20.
data_set[data_set['Metacritic']<20]

#*12.** Select all movies with IMDB rating of 8 or higher.

data_set[data_set['IMDB']>=8]

,Fandango_Stars,IMDB,Metacritic,RottenTomatoes,Unnamed: 0,Unnamed: 6,Unnamed: 7,Unnamed: 8
FILM,,,,,,,,
The Imitation Game (2014),5.0,8.1,73,90,14,NaN,NaN,NaN
Wild Tales (2014),4.5,8.2,77,96,28,NaN,NaN,NaN
About Elly (2015),4.0,8.2,87,97,42,NaN,NaN,NaN
Straight Outta Compton (2015),5.0,8.4,72,90,76,NaN,NaN,NaN
Me and Earl and The Dying Girl (2015),4.5,8.2,74,81,86,NaN,NaN,NaN
Mad Max: Fury Road (2015),4.5,8.3,89,97,88,NaN,NaN,NaN
The Salt of the Earth (2015),4.5,8.4,83,96,95,NaN,NaN,NaN
Song of the Sea (2014),4.5,8.2,86,99,96,NaN,NaN,NaN
Amy (2015),4.5,8.0,85,97,129,NaN,NaN,NaN
Inside Out (2015),4.5,8.6,94,98,140,NaN,NaN,NaN

In [ ]:
# **13.** Using the following logical operators you can combine several logiacl conditions to extract the data based on those conditions:   
       # - ~ NOT
       # - | OR
       # - & AND

# For example, `data_set[(cond_1) & (cond_2)]` will extract the data meeting both conditions `cond_1` AND `cond_2`. Using these logical operators extract all movies:

data_set[~(data_set['IMDB']>4.5)] #which are not greater than 4.5 by= IMDB rating

data_set[(data_set['RottenTomatoes']>99) | (data_set['IMDB']==4.4)]

data_set[(data_set['RottenTomatoes']>90) & (data_set['IMDB']>8)]

# **14.** Plot a scatterplot showing the correlation between Metacritic and IMDB scores.

data_set.plot.scatter(x='Metacritic', y='IMDB');

#The scatter plot helps identify relationships or correlations between the two variables. For example:

       #Positive Correlation: If the points form an upward trend, higher Metacritic scores generally correspond to higher IMDB scores.
       #Negative Correlation: If the points form a downward trend, higher Metacritic scores correspond to lower IMDB scores.
       #No Correlation: If the points are scattered randomly, there’s likely no relationship between the two variables.
#this is likely positive correlation

In [58]:
# **15.** Set the index of `data_set` as the `'FILM'` column and sort the index alphabetically
data_set = data_set.set_index('FILM')
display(data_set)

# **16.** After setting the index, exctract few rows containing some of your group's favourite movies.
favorite_movies = ['Ex Machina (2015)',
              'Birdman (2014)',
              'The Imitation Game (2014)']
data_set.loc[favorite_movies]

KeyError: "None of ['FILM'] are in the columns"

,Fandango_Stars,IMDB,Metacritic,RottenTomatoes,Unnamed: 0,Unnamed: 6,Unnamed: 7,Unnamed: 8
FILM,,,,,,,,
Ex Machina (2015),4.5,7.7,78,92,26,NaN,NaN,NaN
Birdman (2014),4.0,7.9,88,92,65,NaN,NaN,NaN
The Imitation Game (2014),5.0,8.1,73,90,14,NaN,NaN,NaN